@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

/* styles.css */
body,
html {
    height: 100%;
    margin: 0;
    font-family: Montserrat, sans-serif !important;
    color: #fff
}

body {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/background.jpg) !important;
    background-size: cover !important;
    background-position: 50% !important;
    padding: 32px !important;
    display: flex !important;
    justify-content: center !important;
    backdrop-filter: blur(10px) !important;
    background-attachment: fixed !important;
}